TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.map
*.out
*.json
*.hex
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local
golden_reference_design
ref_design
golden.src
revised.src
cadence_conformal
synopsys_formality
questa_autocheck
reports
toolchain
obj_dir
smx_env
artifacts
data/
.venv
plots_softmax_compare
example_tb/core/softmax_performance.csv
example_tb/core/softmax_performance.png
